a {
  padding: 3px;
  margin: 10px;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: inherit;
  color: inherit;
  transition: all 0.2s ease;
  white-space: nowrap;
  border-bottom: 1px solid #112d4e;
}

a:hover {
  padding-bottom: 0;
  border-bottom: 4px solid #112d4e;
}

a.inline {
  padding: 0;
  margin: 0;
  white-space: normal;
}
